<template>
  <div :class="containerStyling">
    <label v-if="label" :for="name" class="flex items-center mb-2 font-poppins">
      {{ label }}
      <div v-if="required" class="w-2 h-2 mx-2 bg-red-500 rounded-full"></div>
      <tooltip :tooltip="tooltip" class="ml-auto"></tooltip>
    </label>
    <v-select
      v-if="type === 'select'"
      v-model="model"
      :options="options"
      :clearable="false"
      class="custom-select focus-within:ring ring-black dark:ring-gray-300 ring-offset-2 dark:ring-offset-gray-300 dark:bg-gray-300 font-poppins"
      :class="styling"
      @input="setValue"
    />
    <textarea
      v-if="type === 'textarea'"
      :id="name"
      v-model="model"
      :name="name"
      rows="7"
      :placeholder="placeholder"
      :class="inputStyling"
      @change="setValue"
    ></textarea>
    <input
      v-if="type === 'text' || type === 'checkbox'"
      :id="name"
      v-model="model"
      :type="type"
      :name="name"
      :class="inputStyling"
      :placeholder="placeholder"
      :required="required"
      @change="setValue"
    />
  </div>
</template>

<script lang="ts">
import { string, oneOf, bool, array } from 'vue-types'
import Vue from 'vue'
import { get, set, cloneDeep, debounce } from 'lodash'
import vSelect from 'vue-select'

export default Vue.extend({
  components: {
    vSelect,
  },
  props: {
    type: oneOf(['text', 'select', 'checkbox', 'textarea']).def('text'),
    name: string().def('').isRequired,
    label: string(),
    required: bool().def(false),
    placeholder: string().def(''),
    options: array<string>().def([]),
    defaultValue: string(),
    commitHandle: string(),
    styling: string(),
    tooltip: string(),
  },
  data() {
    return {
      model: this.defaultValue,
    }
  },
  computed: {
    containerStyling(): object {
      return { 'flex flex-col py-4 dark:text-gray-200': true, '': this.label }
    },
    inputStyling(): object {
      const isTextOrTextarea = this.type === 'text' || this.type === 'textarea'
      return {
        'text-black border-2 border-gray-300 focus:border-white  dark:bg-gray-300 focus:ring focus:ring-black rounded-none focus:ring-offset-2 font-poppins placeholder-gray-300': true,
        'px-4 py-2 dark:focus:ring-gray-300 dark:border-gray-300 dark:focus:border-gray-300 dark:focus:ring-offset-gray-300': isTextOrTextarea,
        ' w-6 h-6 mx-auto my-2.5 dark:focus:ring-offset-gray-300 dark:focus:ring-gray-300 dark:focus:border-gray-300':
          this.type === 'checkbox',
        [this.styling]: true,
      }
    },
    watchData(): object {
      return get(this.$store.state, 'form', {})
    },
  },
  watch: {
    watchData: {
      deep: true,
      immediate: true,
      handler() {
        if (this.commitHandle) {
          this.model = get(this.$store.state.form, this.name, '')
        }
      },
    },
  },
  methods: {
    setValue() {
      const payload = cloneDeep(get(this.$store.state, 'form', {}))
      set(payload, this.name, this.model)
      if (this.commitHandle) {
        this.$store.commit(this.commitHandle, payload)
      }
      this.$emit('change', {
        name: this.name,
        value: this.model,
      })
    },
    handleInput: debounce(function () {
      this.setValue()
    }, 300),
  },
})
</script>
<style src="vue-select/dist/vue-select.css"></style>

<style>
.custom-select .vs__dropdown-toggle {
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: 'Poppins';
  @apply rounded-none border-2 border-gray-300 focus-within:border-white dark:focus-within:border-gray-300 focus-within:outline-none;
}
.custom-select .vs__selected {
  @apply m-0;
}
.custom-select .vs__search {
  @apply m-0 dark:text-black;
}
.custom-select .vs__search:focus {
  @apply m-0;
}
.custom-select .vs__dropdown-option--highlight {
  @apply bg-black;
}
.custom-select .vs__no-options {
  @apply dark:text-black;
}
.custom-select .vs__dropdown-menu {
  @apply rounded-none dark:bg-gray-300;
}

.custom-select .vs__open-indicator {
  @apply fill-current text-gray-300 dark:text-gray-800;
}
</style>
