<template>
  <div class="mt-8 border-t-2 border-gray-500 border-dashed">
    <h2
      class="inline-block my-4 border-gray-800 dark:text-gray-200"
      :class="headingStyle"
    >
      {{ label }}
    </h2>
    <div
      v-for="(b, b_id) in blockData"
      :key="`${label}--${b_id}`"
      :name="`${label}--${b_id}`"
      class="px-4 transition duration-500 ease-in-out lg:py-4 lg:px-0 lg:mx-8 lg:flex"
      :class="{
        'border-t-2 border-gray-400 border-dashed': b_id > 0,
        'bg-red-300 dark:bg-red-900': hoveringOnDelete[b_id],
        'bg-purple-300 dark:bg-purple-900': checkHoveringOnAdd(b_id),
      }"
    >
      <div
        class="flex-grow transition duration-500 ease-in-out lg:pl-8"
        :class="{
          'opacity-50': hoveringOnDelete[b_id] || checkHoveringOnAdd(b_id),
        }"
      >
        <form-element
          v-for="(i, id) in data"
          :key="`${i.label}--${id}`"
          :type="i.type"
          :push-data="i.pushData"
          :only="i.only"
          :data="i.data"
          :name="i.name"
          :label="i.label"
          :placeholder="i.placeholder"
          :index="[...index, b_id]"
          :options="i.options"
          :default-value="i.defaultValue"
          :required="i.required"
          :tooltip="i.tooltip"
        />
      </div>
      <div class="flex items-center justify-end mt-8 lg:mt-0 lg:justify-center">
        <button
          :id="b_id"
          class="bg-red-500"
          :class="buttonStyling"
          @mouseenter="setHoveringOnDelete(b_id, true)"
          @mouseleave="setHoveringOnDelete(b_id, false)"
          @focus="setHoveringOnDelete(b_id, true)"
          @blur="setHoveringOnDelete(b_id, false)"
          @click.prevent="deleteBlock(b_id)"
        >
          Delete
        </button>
      </div>
    </div>
    <div class="flex justify-end pr-4 lg:pr-8">
      <button
        class="bg-purple-500"
        :class="buttonStyling"
        @mouseenter="setHoveringOnAdd(true)"
        @mouseleave="setHoveringOnAdd(false)"
        @focus="setHoveringOnAdd(true)"
        @blur="setHoveringOnAdd(false)"
        @click.prevent="addBlock"
      >
        Add
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { string, oneOfType, object, func, array } from 'vue-types'
import { RenderField, ModuleTypes, Name, PushData } from '@/core/models'
import { get, cloneDeep, remove, isNil, last } from 'lodash'

import Vue from 'vue'

function generateName(name: string | Name, index: number[] = []): string {
  if (typeof name === 'function') {
    return name(index)
  }
  return name
}

const setForm = 'setForm'
export default Vue.extend({
  components: {
    FormElement: () => import('./index.vue'),
  },
  props: {
    label: string(),
    name: oneOfType([string(), func<Name>()]),
    pushData: oneOfType([string(), object<PushData>()]),
    data: array<RenderField>().def([]),
    only: array<ModuleTypes>().def([]),
    index: array<number>().def([]),
  },
  data(): {
    buttonStyling: string
    hoveringOnDelete: boolean[]
    hoveringOnAdd: boolean
  } {
    return {
      buttonStyling:
        'w-32 py-2 my-8 lg:my-4 text-white rounded-none lg:mx-8 focus:outline-none transform-gpu hover:scale-110 focus:scale-110 duration-300 ease-in-out',
      hoveringOnDelete: [],
      hoveringOnAdd: false,
    }
  },
  computed: {
    generatedName() {
      return generateName(this.name)
    },
    formData() {
      return this.$store.state.form
    },
    blockData(): any[] {
      return get(this.$store.state.form, generateName(this.name), [])
    },
    headingStyle(): string {
      const d = ['text-5xl', 'text-4xl', 'text-3xl']
      return get(d, this.index.length, 'text-base')
    },
  },
  mounted() {
    if (isNil(get(this.formData, this.generatedName))) {
      const k = this.generatedName.split('.')
      const key: string = last(k)
      const parentKey = k.splice(0, k.length - 1).join('.')

      const d1 = cloneDeep(this.formData)
      const d2: {
        [key: string]: any
      } = get(d1, parentKey)
      d2[key] = []
      this.$store.commit(setForm, d1)
    }
  },
  methods: {
    checkHoveringOnAdd(index: number) {
      return this.blockData.length - 1 === index && this.hoveringOnAdd
    },
    setHoveringOnDelete(index: number, value: boolean) {
      this.hoveringOnDelete[index] = value
      this.hoveringOnDelete = [...this.hoveringOnDelete]
    },
    setHoveringOnAdd(value: boolean) {
      this.hoveringOnAdd = value
    },
    generateName(name: Name, index: number[] = []): string {
      return generateName(name, index)
    },
    addBlock() {
      this.hoveringOnDelete = [...this.hoveringOnDelete, false]
      const d1 = cloneDeep(get(this.$store.state, 'form', {}))
      const d2 = get(d1, generateName(this.name), [])
      d2.push(this.pushData)
      this.$store.commit('setForm', d1)
    },
    deleteBlock(removeThisIndex: number) {
      this.hoveringOnDelete.splice(removeThisIndex, 1)
      this.hoveringOnDelete = [...this.hoveringOnDelete]
      const d1 = cloneDeep(get(this.$store.state, 'form', {}))
      const d2 = get(d1, generateName(this.name), [])
      remove(d2, (_, index) => {
        return index === removeThisIndex
      })
      this.$store.commit('setForm', d1)
    },
  },
})
</script>

<style scoped></style>
