<template>
  <div v-if="only.includes(moduleType) || only.length === 0">
    <form-element-block
      v-if="type === 'block'"
      :label="label"
      :name="generatedName"
      :push-data="pushData"
      :data="data"
      :only="only"
      :index="index"
    />
    <form-element-input
      v-else
      :type="type"
      :name="generatedName"
      :label="label"
      :required="required"
      :placeholder="placeholder"
      :options="options"
      :default-value="defaultValue"
      :commit-handle="commitHandle"
      :tooltip="tooltip"
    />
  </div>
</template>

<script lang="ts">
import { string, oneOf, bool, oneOfType, object, func, array } from 'vue-types'
import Vue from 'vue'
import { RenderField, ModuleTypes, Name, PushData } from '@/core/models'
import { get } from 'lodash'

export default Vue.extend({
  props: {
    type: oneOf(['text', 'block', 'select', 'checkbox', 'textarea']).def(
      'text'
    ),
    name: oneOfType([string(), func<Name>()]),
    label: string(),
    required: bool().def(false),
    placeholder: string().def(''),
    pushData: oneOfType([string(), object<PushData>()]),
    data: array<RenderField>().def([]),
    only: array<ModuleTypes>().def([]),
    index: array<number>().def([]),
    options: array<string>().def([]),
    defaultValue: string(),
    commitHandle: string().def('setForm'),
    tooltip: string(),
  },
  computed: {
    generatedName(): string {
      const name = this.name
      const index = this.index
      if (typeof name === 'function') {
        return name(index)
      }
      return name
    },
    moduleType(): string {
      return get(
        this.$store.state.form,
        ['modules', this.index[0], 'module_type'],
        ''
      )
    },
  },
})
</script>

<style scoped></style>
