<template>
  <div
    class="flex items-center min-h-screen dark:bg-gray-800 dark:text-gray-300"
  >
    <div class="justify-center w-full font-jost lg:flex">
      <slot />
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style></style>
