<template>
  <base-section>
    <form
      id="form"
      class="z-10 pt-16 mx-8 border-t-2 border-gray-500 border-double lg:mt-64 lg:w-3/5 bg-blur"
      @submit.prevent="generate"
    >
      <form-element
        v-for="i in fullSchema"
        :key="i.name"
        :type="i.type"
        :push-data="i.pushData"
        :only="i.only"
        :data="i.data"
        :name="i.name"
        :label="i.label"
        :placeholder="i.placeholder"
        :options="i.options"
        :default-value="i.defaultValue"
        :tooltip="i.tooltip"
      />
      <div class="flex flex-col mt-16 border-t-2 border-gray-500 border-double">
        <div class="flex flex-col w-full mt-16 lg:flex-row">
          <form-element-input
            :default-value="file.name"
            name="name"
            styling="lg:border-r-0"
            class="lg:w-4/6"
            label="File name"
            @change="setValue"
          />
          <form-element-input
            type="select"
            :options="options"
            name="ext"
            :default-value="file.ext"
            class="lg:w-2/6"
            label="File type"
            @change="setValue"
          />
        </div>
        <div class="flex flex-col gap-4 mt-8 mb-16 lg:flex-row">
          <button
            type="button"
            :class="buttonStyling"
            class="bg-red-500"
            @click="resetForm"
          >
            Reset
          </button>
          <button
            type="button"
            :class="buttonStyling"
            class="bg-blue-500"
            @click="uploadForm"
          >
            <input
              id="file-selector"
              ref="fileSelector"
              type="file"
              class="hidden"
              @change="uploadFile"
            />
            Upload
          </button>
          <button
            type="button"
            :class="buttonStyling"
            class="bg-teal-500 lg:ml-auto"
            @click="exportForm"
          >
            Share
          </button>
          <button type="submit" :class="buttonStyling" class="bg-green-500">
            Download
          </button>
        </div>
      </div>
    </form>
  </base-section>
</template>

<script lang="ts">
import { fullSchema } from '@/core/models'
import { DataSchema, SchemaBlocks, initialValues } from '@/core/data'
import { mergeWithInitalValues } from '@/core/utils'
import Vue from 'vue'
import {
  //
  get,
  // omitBy,
  isArray,
  isEmpty,
  last,
} from 'lodash'
import Yaml from 'js-yaml'
import { saveAs } from 'file-saver'
// import TOML from 'toml-patch'
const TOML = require('toml-patch')

const setForm = 'setForm'

function saveFile(data: any, fileName: string) {
  const f = new File([data], fileName, { type: 'text/plain;charset=utf-8' })
  saveAs(f)
}

function cleanUp(data: SchemaBlocks) {
  const d: {
    [key: string]: any
  } = {}
  for (const [key, value] of Object.entries(data)) {
    if (typeof value === 'string' && value !== '') {
      d[key] = value
    } else if (isArray(value)) {
      const tempArray = []
      for (const i of value) {
        if (typeof i === 'string' && i !== '') {
          tempArray.push(i)
        } else {
          const t = cleanUp(i)
          if (!isEmpty(t)) {
            tempArray.push(t)
          }
        }
      }
      if (tempArray.length !== 0) {
        d[key] = tempArray
      }
    } else if (typeof value === 'object') {
      d[key] = cleanUp(value)
    }
  }
  return d
}

function copy(text: string) {
  const input = document.createElement('input')
  input.setAttribute('value', text)
  document.body.appendChild(input)
  input.select()
  const result = document.execCommand('copy')
  document.body.removeChild(input)
  return result
}

async function readFile(file: File): Promise<DataSchema> {
  const format = last(file.name.split('.'))
  const d = await new Response(file).text()
  if (format === 'json') {
    return JSON.parse(d)
  }
  if (format === 'toml') {
    return TOML.parse(d)
  }
  if (format === 'yaml' || format === 'yml') {
    return Yaml.load(d)
  }
  throw new Error('Invalid file format')
}

export default Vue.extend({
  data() {
    return {
      fullSchema,
      file: {
        name: 'devfile',
        ext: 'toml',
      },
      buttonStyling:
        'px-8 py-2 text-white duration-300 ease-in-out rounded-none transform-gpu focus:outline-none hover:scale-110 focus:scale-110 lg:w-48',
      options: ['toml', 'yaml', 'json'],
    }
  },
  computed: {
    formData(): DataSchema {
      const rawData: DataSchema = get(this.$store.state, 'form', {})
      const jsonData = cleanUp(rawData) as DataSchema
      return jsonData
    },
  },
  methods: {
    setValue(payload: { name: string; value: string }) {
      Vue.set(this.file, payload.name, payload.value)
    },
    generate() {
      const fileName = this.file.name
      const format = this.file.ext
      const fullName = `${fileName}.${format}`
      if (format === 'yaml') {
        saveFile(Yaml.safeDump(this.formData), fullName)
      } else if (format === 'toml') {
        saveFile(TOML.stringify(this.formData), fullName)
      } else {
        saveFile(JSON.stringify(this.formData, null, '  '), fullName)
      }
    },
    exportForm() {
      const encodedString = btoa(JSON.stringify(this.formData))
      this.$router.push({ query: { q: encodedString } })
      const t = copy(window.location.href)
      if (t) {
        this.$toast('Link has been copied to the clipboard.')
      } else {
        this.$toast(
          'You can share the devfile using the link in the address bar.'
        )
      }
    },
    resetForm() {
      this.$store.commit(setForm, initialValues)
      this.$router.push({})
    },
    uploadForm() {
      const fileSelector = this.$refs.fileSelector as HTMLElement
      fileSelector.click()
    },
    async uploadFile(event: any) {
      try {
        const file: File = event.target.files[0]
        const d = await readFile(file)
        const e = mergeWithInitalValues(d)
        this.$store.commit(setForm, e)
      } catch (error) {
        this.$toast.error('Unable to read file.')
      }
    },
  },
})
</script>

<style>
.bg-blur {
  backdrop-filter: blur(20px);
}
.min-w-48 {
  min-width: 12rem;
}
.Vue-Toastification__toast {
  border-radius: 0;
}
.Vue-Toastification__close-button {
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  outline-offset: 0px;
}
.Vue-Toastification__close-button:hover {
  outline: solid;
}
.Vue-Toastification__toast-body {
  margin-right: 16px;
  line-height: 32px;
}
</style>
