<template>
  <popper
    v-show="ifDataExists"
    trigger="hover"
    :options="{
      placement: 'top',
      modifiers: { offset: { offset: '0,10px' } },
    }"
  >
    <div ref="tooltip" class="max-w-md popper popup-styling font-poppins">
      <slot name="tooltip">
        <div v-html="tooltip"></div>
      </slot>
    </div>

    <slot slot="reference">
      <div
        class="flex items-center justify-center w-6 h-6 font-bold text-white bg-purple-500 rounded-full"
      >
        i
      </div>
    </slot>
  </popper>
</template>

<script lang="ts">
import Vue from 'vue'
import Popper from 'vue-popperjs'
import 'vue-popperjs/dist/vue-popper.css'
import { string } from 'vue-types'
import { isNil } from 'lodash'

export default Vue.extend({
  components: {
    popper: Popper,
  },
  props: {
    tooltip: string().def(''),
  },
  computed: {
    ifDataExists(): boolean {
      if (this.tooltip !== '') {
        return true
      }
      const e = this.$refs.tooltip as Element
      if (isNil(e)) {
        return false
      }
      if (e.innerHTML !== '') {
        return true
      }
      return false
    },
  },
})
</script>

<style>
.popper.popup-styling {
  @apply px-4 py-2 rounded-none;
}
</style>
