<template>
  <base-section class="overflow-hidden">
    <welcome-section-mobile class="lg:hidden" />
    <welcome-section-desktop class="hidden lg:flex" />
    <div class="fixed top-0 right-0 z-10 block">
      <div class="flex m-8 text-gray-700 lg:m-8 dark:text-gray-300">
        <dark-mode-switch
          :dark-mode-active="darkModeActive"
          @toggle-dark="$emit('toggle-dark')"
        />
        <span class="px-2 ml-4 text-xl bg-white dark:bg-gray-800">
          Dark mode
        </span>
      </div>
    </div>
  </base-section>
</template>

<script lang="ts">
import { bool } from 'vue-types'
import Vue from 'vue'

export default Vue.extend({
  props: {
    darkModeActive: bool().def(false),
  },
})
</script>
