<template>
  <div>
    <h1 class="flex">
      <div class="flex items-center leading-none break-all">
        <div class="mt-12 text-18xl" style="font-size: 12rem">dGenerate</div>
      </div>
    </h1>
    <div class="flex mt-8 mb-16 shadow-xl">
      <div
        class="inline-block w-1/2 py-4 text-lg text-white bg-black dark:bg-gray-200 dark:text-gray-800"
      >
        devfile generator
      </div>
      <div
        class="inline-block w-1/2 py-4 text-lg text-right shadow-lg dark:text-gray-300"
      >
        <div class="">
          An
          <span class="mx-1 font-bold">AZIRAZ</span>
          Productions
        </div>
      </div>
    </div>
  </div>
</template>
