<template>
  <div class="fixed top-0 left-0 mr-auto">
    <div
      class="max-h-screen my-8 leading-none break-all transform -rotate-180 heading"
    >
      <div ref="heading">dGenerate</div>
    </div>
    <div ref="subtitleContainer" class="flex items-center text-8xl">
      <div ref="subtitleContent">
        devfile <br />
        generator
      </div>
    </div>
    <div class="fixed bottom-0 right-0 z-20">
      <a
        href="https://justine.kizhak.com"
        target="_blank"
        class="block px-4 py-2 mb-8 mr-16 text-xl text-black rounded-none dark:text-gray-100 focus:outline-none focus:ring ring-black dark:ring-gray-300"
      >
        An
        <span
          class="px-4 mx-2 font-bold text-white bg-black shadow-xl dark:text-gray-100 dark:bg-gray-900"
        >
          AZIRAZ
        </span>
        Productions
      </a>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { isArray, get } from 'lodash'

function getWidth(e: HTMLElement): number {
  if (isArray(e)) {
    return e[0].offsetWidth
  }
  return e.offsetWidth
}

export default Vue.extend({
  mounted() {
    this.animateSection()
  },
  methods: {
    animateSection() {
      const gsap = this.$gsap
      const ScrollTrigger = this.$ScrollTrigger
      gsap.registerPlugin(ScrollTrigger)

      const e = this.$refs.subtitleContainer as HTMLElement
      const fullHeight = e.offsetHeight
      const fullWidth = document.body.offsetWidth
      const formWidth = (fullWidth / 5) * 3
      const spaceAroundForm = (fullWidth - formWidth) / 2

      const opacityTo = 0.09
      const ease = 'power1.out'

      const formElement = document.getElementById('form') as HTMLElement
      const formOffset = formElement.offsetTop - fullHeight

      const animateHeading = () => {
        const heading = this.$refs.heading as HTMLElement
        const end = formOffset + 32
        const w = getWidth(heading) - 40
        gsap.to(heading, {
          scrollTrigger: {
            // markers: true,
            // trigger: heading,
            // start: 'top top',
            end,
            scrub: true,
            // pin: true,
            // pinSpacing: false,
          },
          x: w - spaceAroundForm,
          opacity: opacityTo,
          ease,
          // duration: 1,
        })
      }

      const animateSubtitle = () => {
        const container = this.$refs.subtitleContainer as HTMLElement
        const content = this.$refs.subtitleContent as HTMLElement

        const formRightEdge =
          get(formElement, 'offsetLeft', 0) + get(formElement, 'offsetWidth', 0)
        const x = formRightEdge - container.offsetLeft

        const end =
          fullHeight - (content.offsetTop + content.offsetHeight) + formOffset
        gsap.to(container, {
          scrollTrigger: {
            // markers: true,
            // trigger: container,
            start: 'top top',
            // endTrigger: formElement,
            end,
            scrub: true,
            // pin: true,
            // pin: container,
            // pinReparent: true,
          },
          x,
          opacity: opacityTo,
          ease,
          // duration: 1,
        })
      }
      animateHeading()
      animateSubtitle()
    },
  },
})
</script>

<style scoped>
.heading {
  writing-mode: vertical-rl;
  font-size: 18rem;
}
</style>
