<template>
  <div className="inline-block" @click="$emit('toggle-dark')">
    <span :class="containerStyling">
      <span :class="diskStyling" class="p-0.5">
        <img v-if="darkModeActive" src="@/assets/svg/night-mode.svg" />
        <img v-else src="@/assets/svg/sun.svg" />
      </span>
    </span>
  </div>
</template>

<script lang="ts">
import { bool } from 'vue-types'
import Vue from 'vue'

export default Vue.extend({
  props: {
    darkModeActive: bool().def(false),
  },
  data() {
    return {}
  },
  computed: {
    containerStyling(): object {
      return {
        'flex items-center w-12 ring-1 ring-gray-400 rounded-full cursor-pointer shadow-inner': true,
        'bg-gray-800': this.darkModeActive,
        'bg-white ': !this.darkModeActive,
      }
    },
    diskStyling(): object {
      return {
        'w-6 h-6 bg-white ring-1 ring-gray-400 rounded-full transition transform transform-gpu duration-500 ease-in-out ': true,
        'translate-x-full bg-white': this.darkModeActive,
        '': !this.darkModeActive,
      }
    },
  },
  methods: {
    setModel() {
      this.$emit('dark-mode-active', this.darkModeActive)
    },
  },
})
</script>
