<template>
  <div :class="{ dark: darkModeActive }">
    <welcome-section
      :dark-mode-active="darkModeActive"
      @toggle-dark="toggleDark"
    />
    <form-section />
    <div class="dark:bg-gray-800">
      <div
        class="flex justify-center py-4 mx-8 border-t-2 border-black lg:w-3/5 lg:mx-auto lg:justify-start dark:border-gray-200 dark:text-gray-200"
      >
        <div>
          Copyright © 2020
          <span class="italic"> Justine Kizhakkinedath</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
// import pako from 'pako'
import { get, isEmpty, cloneDeep, merge } from 'lodash'
import { initialValues } from '@/core/data'
import Vue from 'vue'
import VueCookies from 'vue-cookies'
Vue.use(VueCookies)

const setForm = 'setForm'
export default Vue.extend({
  data() {
    return {
      darkModeActive: false,
    }
  },
  mounted() {
    this.darkModeActive = this.$cookies.get('dark-mode') === 'true'

    const defaultBase64Value = btoa(JSON.stringify({}))
    const encodedData = get(
      this.$route.query,
      'q',
      defaultBase64Value
    ) as string

    const decodedData = JSON.parse(atob(encodedData))
    if (!isEmpty(decodedData)) {
      const o = cloneDeep(initialValues)
      const p = merge(o, decodedData)
      this.$store.commit(setForm, p)
    }
  },
  methods: {
    toggleDark() {
      this.darkModeActive = !this.darkModeActive
      this.$cookies.set('dark-mode', this.darkModeActive)
    },
  },
})
</script>
